
-#%dl.sub-nav
-#  %dd.active.my-sticky
-#    =link_to 'En-haut', '#', class: 'hide', id:'to-top'
.row

  .columns.large-8.medium-8#posts
    -if !@to_front.nil?
      .row
        .columns.small-12
          %h1 A la une
          %ul.example-orbit-content{:'data-orbit'=>true, :'data-options'=>"timer_speed: 5000;"}
            -@to_front.each do |tf, index|
              %li{:'data-orbit-slide' => "#{tf.title}-#{index}"}
                %div.dark-panel
                  %h3= link_to tf.title, post_path(tf)
                  -if tf.test_image.present? and tf.test_image.asset.present?
                    .image#to-la-une
                      =link_to image_tag(tf.test_image.asset.portrait, title: tf.test_image.title, alt: tf.test_image.legend), post_path(tf)
                      .legend
                        %h5= tf.test_image.title
                        %legend= tf.test_image.legend
                  -elsif tf.video.present?
                    .flex-video
                      = raw tf.video.url.html_safe
                  %p= Nokogiri::HTML(tf.body).css('body').children.first.text.truncate(10, separator: ' ', omission: '...'+link_to(' (lire la suite)', post_path(tf))).html_safe
        .columns.small-12#home-right.show-for-small
          .panel
            =render 'aside'
    .row
      .columns.small-12
        %h1= t('static_pages.home.h1.title')
        =render @posts
  .columns.small-4#home-right.hide-for-small
    .panel
      =render 'aside'
#paginate
  =paginate @posts
