.row
  %h1
    Calendrier
    =Time.zone.now.year
  .columns.large-8.medium-7
    -@events.each do |month, events|
      %h5= month
      %table
        -events.each do |id, an_event|
          %tr
            %td
              =link_to image_tag(an_event.image.url, class: 'events-image'), an_event, class: 'th'
            %td
              %h5
                = link_to(event_name(an_event), an_event)
  .columns.large-4.medium-5.small-12
    .panel
      -if !@sticky.is_a? Event and @sticky.empty?
        %p Aucun événement important à venir
      -else
        %h4= link_to @sticky.title, @sticky
        %h6.subheader= event_name @sticky, params: {place: @sticky.place}, t: 'events.index.sticky.sub_header'
        %p= link_to image_tag(@sticky.image.thumb.url), @sticky, class: 'th'
        %p= @sticky.description
    =render 'events/side'