.row
  .off-canvas-wrap
    .inner-wrap
      .hide-for-large.show-for-small
        %a.left-off-canvas-toggle.button.secondary.small
          A ne pas manquer
      %h1 Calendrier
      .columns.large-8.medium-7
        -@events.each do |year, events|
          %h5= year
          %table
            -events.each do |id, an_event|
              %tr
                %td
                  =link_to image_tag(an_event.image.url, class: 'events-image'), an_event, class: 'th'
                %td
                  %h5
                    = link_to(event_name(an_event), an_event)
      .columns.large-4.medium-5.small-12.hide-for-small
        .panel
          -if !@sticky.is_a? Event and @sticky.empty?
            %p Aucun événement important à venir
          -else
            %h4= link_to @sticky.title, @sticky
            %h6.subheader= event_name @sticky, params: {place: @sticky.place}, t: 'events.index.sticky.sub_header'
            %p= link_to image_tag(@sticky.image.thumb.url), @sticky, class: 'th'
            %p= @sticky.description
        =render 'events/side'
      %aside.left-off-canvas-menu.hide-for-large.show-for-small#vr-canvas
        .columns.large-4.small-12
          .panel
            %h4 A ne pas manquer
            -if !@sticky.is_a? Event and @sticky.empty?
              %p Aucun événement important à venir
            -else
              %h4= link_to @sticky.title, @sticky
              %h6.subheader= event_name @sticky, params: {place: @sticky.place}, t: 'events.index.sticky.sub_header'
              %p= link_to image_tag(@sticky.image.thumb.url), @sticky, class: 'th'
              %p= @sticky.description
          .panel
            =render 'events/side'
      %a.exit-off-canvas.hide-for-large.show-for-small

