<div class="row">
  <div class="small-12 large-6 columns">
    <h1>Résultats</h1>

    <table id="result">
      <thead>
      <tr>
        <th>Date</th>
        <th>Résultat</th>
        <th>Nom</th>
      </tr>
      </thead>

      <tbody>
      <% @results.each do |result| %>
          <tr id="<%= rank_to_color(result.point) %>">
            <td><%= l(result.date, format: '%e %b %Y') %></td>
            <td class="text-center"><%= result.point %></td>
            <td><%= result.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="small-12 large-6 columns">
    <h1>Médailles</h1>
    <table>
      <thead>
      <tr>
        <th>Compétitions</th>
        <th id="gold">Or</th>
        <th id="silver">Argent</th>
        <th id="bronze">Bronze</th>
      </tr>
      </thead>

      <tbody>
      <% @carreers.each do |carreer| %>
          <tr>
            <td><%= carreer.name %></td>
            <td <%= 'id=gold'if carreer.gold.to_i > 0%> class="text-center"><%= carreer.gold %></td>
            <td <%= 'id=silver'if carreer.silver.to_i > 0%> class="text-center"><%= carreer.silver %></td>
            <td <%= 'id=bronze'if carreer.bronze.to_i > 0%> class="text-center"><%= carreer.bronze %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<p>
  Pour plus de résultats et stats, rendez-vous sur <a href="http://www.judoinside.com/judoka/view/39690/">Judo inside</a>
</p>

