<div class="row">
  <div class="small-12 large-6 columns">
    <h1>Résultats</h1>

    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Résultat</th>
        <th>Nom</th>
      </tr>
      </thead>

      <tbody>
      <% @results.each do |result| %>
          <tr>
            <td><%= l(result.date, format: :short) %></td>
            <td><%= result.point %></td>
            <td><%= result.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="small-12 large-6 columns">
    <h1>Médailles</h1>
    <table>
      <thead>
      <tr>
        <th>Compétitions</th>
        <th id="gold">Or</th>
        <th id="silver">Argent</th>
        <th id="bronze">Bronze</th>
      </tr>
      </thead>

      <tbody>
      <% @carreers.each do |carreer| %>
          <tr>
            <td><%= carreer.name %></td>
            <td><%= carreer.gold %></td>
            <td><%= carreer.silver %></td>
            <td><%= carreer.bronze %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

