#logo
  =image_tag 'logo.png'
-if current_page? root_path
  .row#welcome
    .columns.small-12
      %h1 Bienvenue sur le site de Valentin Rota, Judoka
      .row
        .columns.small-7.small-centered
          =link_to 'Continuer', '#', class: 'button large radius', id: 'continue'
  #logo2
    =image_tag 'logo.png'
.row
  .columns#top-bar
    .contain-to-grid
      %nav.top-bar{:'data-topbar' => true}
        %ul.title-area
          -active_title = 'active-title' if current_page? root_path
          %li.name{class: active_title}
            %h1= link_to 'Accueil', eval("root_#{I18n.locale}_path")
          %li.toggle-topbar.menu-icon
            %a{href: "#"}>
              %span
        %section.top-bar-section
          %ul.left
            -#%li{class: set_active(root_path)}= link_to 'Accueil', eval("root_#{I18n.locale}_path")
            -if user_signed_in?
              %li= link_to 'admin', rails_admin_path
            %li{class: set_active(portfolios_path)}= link_to t('header.portfolio'), portfolios_path
            -custom_class = 'active' if current_page?(events_path) or current_page?(event_path(params[:id]||1))
            %li{class: custom_class}= link_to 'Agenda', events_path
            %li.has-dropdown.not-click
              = link_to t('header.judo'), '#'
              %ul.dropdown
                %li= link_to 'Objectifs', objective_lists_path
                %li= link_to 'Résultats', carreers_path
            %li{class: set_active(galeries_path)}= link_to 'Galerie', galeries_path
            %li{class: set_active(contact_path)}= link_to 'Contact', contact_path
            %li{class: set_active(about_path)}= link_to 'Sponsors', about_path
          %ul.right
            -if user_signed_in?
              %li.has-dropdown.not-click
                %a{href: '#'}= current_user.to_s
                %ul.dropdown
                  %li= link_to t("header.user.profil"), current_user
                  %li= link_to t("header.user.edit"), edit_user_registration_path
                  %li.divider
                %li= link_to t("header.user.logout"), destroy_user_session_path, method: :delete